body {
  background-image: url("images/background.jpg");
  background-size: cover;
  /* background-position: center; */
}
.grid-container {
  background-color: #fff8ff;
  border: 5px solid #7710aa;
  width: 50%;
  min-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 200px auto;
  font-family: Sans-serif;
}
div.left-bar {
  background: linear-gradient(#b299b2, #cfbfcf);
  padding: 5px 15px;
}
div.links {
  list-style-type: none;
  padding: 15px 2px;
}
div.links a {
  display: block;
  font-size: 120%;
  margin-bottom: 10px;
  padding: 8px;
  background: #cfbfcf;
}
div.links a:link,
div.links a:visited {
  color: #000;
  text-decoration: none;
}
div.links a:hover {
  background: #d0d;
  color: #fff;
}
div.main-content {
  padding: 20px;
}
img.dark {
  border: 3px solid #fff8ff;
}
img.bright {
  border: 3px solid #7710aa;
}
div.climbing {
  padding: 20px;
}
div.pic img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
.banner {
  text-align: center;
  font-size: 300%;
}
div.title {
  background: linear-gradient(to right, #cfbfcf, #fff8ff);
  font-size: 150%;
  font-weight: bold;
  padding: 5px 0 2px 5px;
  margin: 10px 0 10px -5px;
}
.paper-title {
  color: #0a0;
}
